@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  background-color: #E5E5E5;
  margin:0px;
  padding: 0px;
}
h2{
  font-size: 35px;
  background:#14213D;
}
.nav-bar{
  font-family: 'Oswald', sans-serif;
  text-align:center;
  color:#FCA311;
  height: 100px;
  line-height: 100px;
  border-bottom:  solid black;
  width: 95vw;
  margin:auto;
}
.inside{
  margin: auto;
}
.post_wrapper{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  display: flex;
	flex-direction: column;
	width: 320px;
	margin: 20px;
  background-color:white;
}

h3{
  padding: 5px 20px 5px 0px;
  text-indent: 15px;
  border-left: 5px solid #FCA311;
  color: #14213D;
  font-size:24px;
  height: 40px;
  line-height: 40px;
  font-family: 'Oswald', sans-serif;
}
.post_wrapper > p{
  border-left: 5px solid #14213D;
  padding: 10px 20px 15px 20px;
  height: 75px;
  font-size: 15px;
}
.author{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 45px;
  border-left: 5px solid  #7D8391;
}
.author_ava{
  margin-left: 15px;
  border: 1px solid #E5E5E5;
  border-radius: 50%;
  width: 30px;
  height: auto;
}
 h4{
  color: black;
  font-size: 13px;
  font-weight: 200;
  text-indent: 8px;
}
.post_list{
  width: 95vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.postitem_image{
  width: 320px;
  height: 240px;
}
a{
  text-decoration: none;
  color: black;
}

.post-detail-wrapper{
  width:90vw;
  margin: 15px auto;
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  display: flex;
	flex-direction: column;
  overflow: hidden;
  border: none;
}
.post-detail-wrapper >img{
  width: 100%;
}
.post-detail-wrapper > h3{
  justify-content: flex-start;
  text-indent: 50px;
  padding-top: 20px;
  height: 80px;
  line-height: inherit;
  font-size: 50px;
  border:none;
}
.post-detail-author{
  display: flex;
  flex-direction: row;
  height: 40px;
  padding: 15px 10px 15px 50px;
}
.post-detail-author > img{
  float:left;
  width: 40px;
  border-radius: 50%;
}
.post-detail-author > h4{
  text-indent: 10px;
  border:none;
  height:inherit;
  line-height: 40px;
}

.post-detail-wrapper > p{
  padding: 20px 50px 50px 50px ;
  clear:left;
}

@media only screen and (min-width: 900px) {
  .post-detail-wrapper{
    width: 65vw;
  }
  .post-detail-wrapper > h3{
    font-size: 70px;
    height: 112px;
  }
  .post-detail-author > h4{
    font-size: 17px;
  }
  .post-detail-wrapper > p{
    font-size: 20px;
  }

}
@media only screen and (max-width: 600px) {
  .post-detail-wrapper > h3{
    padding-top: 0px;
    font-size: 35px;
    height: 56px;
    text-indent: 20px;
  }
  .post-detail-author > h4{
    font-size: 12px;
    line-height: 30px;
  }
  .post-detail-author{
    height: 30px;
    padding: 0px 10px 0px 20px;
  }
  .post-detail-author > img{
    width: 30px;
  } 
  .post-detail-wrapper > p{
    font-size: 14px;
    padding: 10px 20px 30px 20px ;
  }
}