@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  background-color: #E5E5E5;
  margin:0px;
  padding: 0px;
}
h2{
  font-size: 30px;
  background:#14213D;
}
.nav-bar{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color:#FCA311;
  height: 100px;
  line-height: 100px;
  border-bottom:  solid black;
  width: 95vw;
  margin:auto;
}
.inside{
  margin:auto;
}
.post_wrapper{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  display: flex;
	flex-direction: column;
	width: 320px;
  height: auto;
	margin: 20px;
  justify-content: flex-start;
  background-color:white;
}

h3{
  padding: 5px 20px 5px 0px;
  text-indent: 15px;
  border-left: 5px solid #FCA311;
  color: #14213D;
  font-size:24px;
  height: 40px;
  line-height: 40px;
  font-family: 'Oswald', sans-serif;
}
p{
  border-left: 5px solid #14213D;
  padding: 10px 20px 15px 20px;
  height: 75px;
  font-size: 15px;
}
.author{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 35px;
  border-left: 5px solid  white;
}
.author_ava{
  margin-left: 15px;
  border: 1px solid #E5E5E5;
  border-radius: 50%;
  width: 30px;
  height: auto;
}
h4{
  color: black;
  font-size: 13px;
  font-weight: 200;
  text-indent: 8px;
}
.post_list{
  width: 95vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.postitem_image{
  width: 320px;
  height: 240px;
}